<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PBT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PBTOSXSpecs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F60160B1919DCE0003D8484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F60161B1919DCE0003D8484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6016441919DF90003D8484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7EFA28191B63970074B028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC3B941191B64F700AA359B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
